<div class="col-sm-4 section1">
    <div class="info__section">
      <div class="info__section-user">
        <div class="info__section-user-selected">
          <img src="../../assets/img/kate-hudson.jpg" alt="">
          <span>Кейт Гадсон</span>
        </div>
        <div class="info__section-user-title">
          <ul>
            <li>Відвідує часто кінотеатр</li>
            <li>Середній чек 1000 грн</li>
            <li>Найчастіше купує місця в ложі</li>
          </ul>
        </div>
        <div class="info__section-user-payment">
          <ul>
            <li class="masterCard"><img src="../../assets/img/if__Mastercard_1156750.png" alt="MasterCard"></li>
            <li class="visa"><img src="../../assets/img/if_visa_294654.png" alt="Visa"></li>
          </ul>
        </div>
      </div>
    </div>
</div>